@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?mnv3sb');
  src:  url('fonts/icon.eot?mnv3sb#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?mnv3sb') format('truetype'),
    url('fonts/icon.woff?mnv3sb') format('woff'),
    url('fonts/icon.svg?mnv3sb#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pc-ic_"], [class*=" pc-ic_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pc-ic_info-inactivecharger:before {
  content: "\e94e";
}
.pc-ic_info-activecharger:before {
  content: "\e94f";
}
.pc-ic_info-allcharger:before {
  content: "\e950";
}
.pc-ic_user-new:before {
  content: "\e949";
}
.pc-ic_user-total:before {
  content: "\e94a";
}
.pc-ic_user-active:before {
  content: "\e94b";
}
.pc-ic_prob-1:before {
  content: "\e94c";
}
.pc-ic_prob-2:before {
  content: "\e94d";
}
.pc-ic_datepicker:before {
  content: "\e948";
}
.pc-ic_info-addimg:before {
  content: "\e947";
}
.pc-ic_arrow-back:before {
  content: "\e945";
}
.pc-ic_arrow-next:before {
  content: "\e946";
}
.pc-ic_edit:before {
  content: "\e944";
}
.pc-ic_acc-all:before {
  content: "\e911";
}
.pc-ic_acc-chargetoday:before {
  content: "\e90f";
}
.pc-ic_acc-chargeuser:before {
  content: "\e90d";
}
.pc-ic_acc-repairtoday:before {
  content: "\e910";
}
.pc-ic_acc-user:before {
  content: "\e90e";
}
.pc-ic_adapter1:before {
  content: "\e929";
}
.pc-ic_adapter2:before {
  content: "\e92a";
}
.pc-ic_adapter3:before {
  content: "\e92b";
}
.pc-ic_adapter4:before {
  content: "\e92c";
}
.pc-ic_adapter5:before {
  content: "\e92d";
}
.pc-ic_adapter6:before {
  content: "\e92e";
}
.pc-ic_adapter7:before {
  content: "\e92f";
}
.pc-ic_adapter8:before {
  content: "\e930";
}
.pc-ic_adapter9:before {
  content: "\e931";
}
.pc-ic_analyze-kw:before {
  content: "\e93b";
}
.pc-ic_analyze-kwh:before {
  content: "\e93c";
}
.pc-ic_analyze-month:before {
  content: "\e913";
}
.pc-ic_analyze-problem:before {
  content: "\e93d";
}
.pc-ic_analyze-roi:before {
  content: "\e940";
}
.pc-ic_analyze-today:before {
  content: "\e912";
}
.pc-ic_arrow-down:before {
  content: "\e93a";
}
.pc-ic_arrow-up:before {
  content: "\e937";
}
.pc-ic_cal-month:before {
  content: "\e90a";
}
.pc-ic_cctv-all:before {
  content: "\e941";
}
.pc-ic_cctv-error:before {
  content: "\e942";
}
.pc-ic_cctv-station:before {
  content: "\e90c";
}
.pc-ic_charge-active:before {
  content: "\e934";
}
.pc-ic_charge-inactive:before {
  content: "\e935";
}
.pc-ic_charge-no:before {
  content: "\e936";
}
.pc-ic_charge-repair:before {
  content: "\e933";
}
.pc-ic_charging:before {
  content: "\e983";
}
.pc-ic_emptystar:before {
  content: "\e902";
}
.pc-ic_exp-chart:before {
  content: "\e914";
}
.pc-ic_exp-exchange:before {
  content: "\e917";
}
.pc-ic_exp-income:before {
  content: "\e915";
}
.pc-ic_exp-outcome:before {
  content: "\e916";
}
.pc-ic_export:before {
  content: "\e984";
}
.pc-ic_halfstar:before {
  content: "\e901";
}
.pc-ic_info-activectrl:before {
  content: "\e932";
}
.pc-ic_info-activestation:before {
  content: "\e904";
}
.pc-ic_info-repaircharger:before {
  content: "\e981";
}
.pc-ic_info-allctrl:before {
  content: "\e909";
}
.pc-ic_info-allstation:before {
  content: "\e903";
}
.pc-ic_info-repairstation:before {
  content: "\e905";
}
.pc-ic_is-charging:before {
  content: "\e925";
}
.pc-ic_is-uncharge:before {
  content: "\e926";
}
.pc-ic_menu1:before {
  content: "\e9b5";
}
.pc-ic_menu2:before {
  content: "\e9b6";
}
.pc-ic_menu3:before {
  content: "\e9b7";
}
.pc-ic_menu4:before {
  content: "\e9b8";
}
.pc-ic_menu5:before {
  content: "\e9b9";
}
.pc-ic_o-active:before {
  content: "\e923";
}
.pc-ic_o-fax:before {
  content: "\e91a";
}
.pc-ic_o-fb:before {
  content: "\e91b";
}
.pc-ic_o-ig:before {
  content: "\e91c";
}
.pc-ic_o-inactive:before {
  content: "\e928";
}
.pc-ic_o-line:before {
  content: "\e91d";
}
.pc-ic_o-mail:before {
  content: "\e91e";
}
.pc-ic_o-map:before {
  content: "\e91f";
}
.pc-ic_o-no:before {
  content: "\e927";
}
.pc-ic_o-phone:before {
  content: "\e920";
}
.pc-ic_o-repair:before {
  content: "\e924";
}
.pc-ic_o-twitter:before {
  content: "\e921";
}
.pc-ic_o-www:before {
  content: "\e922";
}
.pc-ic_prog-money:before {
  content: "\e93f";
}
.pc-ic_prog-time:before {
  content: "\e93e";
}
.pc-ic_repair:before {
  content: "\e9bc";
}
.pc-ic_rept-month:before {
  content: "\e919";
}
.pc-ic_rept-problem:before {
  content: "\e943";
}
.pc-ic_rept-today:before {
  content: "\e918";
}
.pc-ic_ribbon-fav:before {
  content: "\e90b";
}
.pc-ic_roi:before {
  content: "\e9ba";
}
.pc-ic_search:before {
  content: "\e9bb";
}
.pc-ic_sort-asc:before {
  content: "\e939";
}
.pc-ic_sort-desc:before {
  content: "\e938";
}
.pc-ic_star:before {
  content: "\e900";
}
.pc-ic_statcharge:before {
  content: "\e906";
}
.pc-ic_statroi:before {
  content: "\e908";
}
.pc-ic_statstation:before {
  content: "\e907";
}
